# Ignore everything
/*

# Except these files & folders
!/app
!/components
!/contents
!/context
!/hooks
!/pages
!/sections
!/styles
!/utils
!/.github
!tsconfig.json
!tailwind.config.js 
!postcss.config.js 
!next.config.js 
!package.json
!.prettierrc
!.eslintrc.json