---
new_page_extension: md
auto_deploy: false
admin_path: "/public/"
webhook_url: 
sections:
- type: directory
  path: contents
  label: Blog Posts
  create: all
  match: "**/*"
  new_doc_ext: md
  templates:
  - blog-article
upload_dir: SatNaing
public_path: https://res.cloudinary.com/noezectz/image/upload/terminal
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_output_directory: public
  install_dependencies_command: npm install
  preview_docker_image: forestryio/node:12
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run dev
