@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Jost", Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
